<h1>BigButton</h1>
<div>
  <mica-big-button
    name="bigbutton"
    [iconUrl]="iconUrl"
    [active]="active"
    [smaller]="smaller"
    (leftClick)="onLeftClick()"
    (rightClick)="onRightClick()">
  </mica-big-button>
</div>
<div class="settings">
  <h2>Settings</h2>
  <div>
    <label for="iconUrl">iconUrl</label><input id="iconUrl" type="text" [(ngModel)]="iconUrl">
  </div>
  <div>
    <label for="active">active</label><mica-switch id="active" [(ngModel)]="active"></mica-switch>
  </div>
  <div>
    <label for="smaller">smaller</label><mica-switch id="smaller" [(ngModel)]="smaller"></mica-switch>
  </div>
</div>
<h2>Events</h2>
<div>{{ lastEvent }}</div>